<style>
    .partner-badge{
        background: var(--Secondary-Palettes-Gold-Palette-gold-600, #FAECA2);
    }
</style>

<span class="partner-badge ml-auto rounded-lg px-4 py-2 text-xs font-semibold">
    Partner contribution
</span>