<a class="group transition flex-auto md:h-[550px] max-w-[450px] min-w-[309px] block p-4 relative border border-carbon rounded-xl bg-white hover:scale-105" 
		href="{{ case_study.url }}">
	{% bookshop 'case-studies/head' case_study:case_study %}

	<div class="my-4">
		{% bookshop "helpers/image" image: case_study.data.image.path alt: case_study.data.image.alt responsive: true classes: 'rounded-xl' width: 360 %}
	</div>
	<div class="text-2xl font-bold pb-10">
		{{ case_study.data.heading }} 
	</div>
	<div class="font-bold absolute bottom-5 text-cc transition">
		<span class="group-hover:underline">Read the case study</span>
		<span class="inline-block w-4 relative top-[3px] outline-cc ml-1">
			{{ '/src/images/icons/outline/arrow-right.svg' | svgContents }}
		</span>
	</div>
</a>