<div class="c-simple-sidebar flex flex-col">
    <h3 class="mb-2.5 text-carbon_800 font-bold text-xl">Choose your SSG:</h3>
    <div class="gap-2.5 flex flex-col">
        {% for ssg in ssgs %}
            {% bookshop 'simple/ssg-radio' ssg_name:ssg.ssg_name %}
        {% endfor %}
    </div>
    <a target="_blank" href="https://app.cloudcannon.com/#sites/connect/github/{{ details.github_repo_url | downcase | remove: 'https://github.com/' }}"
		class="bg-cc hover:bg-cc_hover hover:scale-105 text-white transition flex h-[44px] items-center text-lg py-2 px-3 rounded-lg mt-5">
		<span class="flex items-center text-base">
			Deploy to CloudCannon
		</span>
	</a>
    <div class="dividier-line flex items-center py-8">
        <span class="border-b-2 w-full"></span>
    </div>
    <div class="links flex flex-col">
        <a href="#">View on Github</a>
        <a href="#">Preview site</a>
    </div>
    <div class="dividier-line flex items-center py-8">
        <span class="border-b-2 w-full"></span>
    </div>
</div>