---
layout: page.html
eleventyComputed:
  header_blocks:
    - _bookshop_name: sections/container
      content:
        blocks:
        - _bookshop_name: simple/heading
          content:
            text: "{{ heading }}"
          styles:
            size: h1
            width: tight
            desktop:
              text_alignment:
                align: center
              text_sizing:
                text_size: big
              margin:
                top: 0
                bottom: 35
            tablet:
              text_alignment:
                active: false
                align: left
              text_sizing:
                active: false
                text_size: big
              margin:
                active: false
                top: 0
                bottom: 0
            mobile:
              text_alignment:
                active: false
                align: left
              text_sizing:
                active: false
                text_size: big
              margin:
                active: false
                top: 0
                bottom: 0
        - _bookshop_name: simple/text-block
          content:
            text_markdown: "{{ description }}"
          styles:
            desktop:
              text_alignment: 
                align: center
              text_sizing:
                text_size: biggest
              margin:
                top: 0
                bottom: 35
              block_alignment:
                align_block: center
            tablet:
              text_alignment:
                active: false
                align: left
              text_sizing:
                active: false
                text_size: normal
              margin:
                active: false
                top: 0
                bottom: 0
              block_alignment:
                active: false
                align_block: left
            mobile:
              text_alignment:
                active: false
                align: left
              text_sizing:
                active: false
                text_size: normal
              margin:
                active: false
                top: 0
                bottom: 0
              block_alignment:
                active: false
                align_block: left
            width: full
        - _bookshop_name: simple/case-study-person
          uuid: "{{ case_study_person }}"
        - _bookshop_name: simple/spacer
          content:
            title:
          styles:
            desktop:
              space:
                size: 30
            tablet:
              space:
                active: false
                size: 0
            mobile:
              space:
                active: false
                size: 0
      styles:
        background: white
        rounded: none
        size: normal
        align: none
        desktop:
          margin:
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            top: 130
            right: 0
            bottom: 80
            left: 0
        tablet:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
        mobile:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
---
{% bookshop_include "page" content_blocks: header_blocks %}

<div class="container relative" data-pagefind-filter="site:Company" data-pagefind-meta="site:Company" data-pagefind-body>
  <div class="prose md:prose-lg lg:prose-xl mx-auto hover:prose-a:text-cc hover:prose-a:transition">
    {{ content }}

    <div class="bg-blue-100 mt-10 rounded-xl pt-7 pb-3 px-10 mb-20">
      <h3 class="mt-0">Launch your website today</h3>
      <p>Give your content team full autonomy on your developer-approved tech stack with CloudCannon.</p>
      <p><a href="https://app.cloudcannon.com/register?trial=cc_standard">Get started free!</a></p>
    </div>
  </div>
  <div class="absolute right-0 top-2 h-full">
    <div class="sticky top-20 flex flex-col items-center gap-y-4">
      <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="https://twitter.com/share?url=https://cloudcannon.com{{ page.url }}">{{ '/src/images/icons/social/twitter.svg' | svgContents}}</a>
      <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="https://www.facebook.com/sharer.php?u=https://cloudcannon.com{{ page.url }}">{{ '/src/images/icons/social/facebook.svg' | svgContents}}</a>
      <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="http://www.linkedin.com/shareArticle?mini=true&url=https://cloudcannon.com{{ page.url }}">{{ '/src/images/icons/social/linkedin.svg' | svgContents}}</a>
      <a class="w-8 flex justify-center transition [&>svg]:stroke-gray-300 [&>svg]:hover:stroke-gray-500" href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://cloudcannon.com{{ page.url }}.">{{ '/src/images/icons/outline/envelope.svg' | svgContents}}</a>
    </div>
  </div>
</div>