---
layout: builder.html
eleventyComputed:
  content_blocks:
    - _bookshop_name: sections/container
      content:
        blocks:
          - _bookshop_name: simple/icon-image
            content:
              image: "/images/logos/ssgs/{{ page.fileSlug }}.svg"
              alt: "{{ title }} logo"
            styles:
              scale: .9
          - _bookshop_name: simple/heading
            content:
              text: "{{ title }} Cheatsheet"
            styles:
              size: h1
              width: tight
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: biggest
                margin:
                  top: 30
                  bottom: 35
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
          - _bookshop_name: simple/text-block
            content:
              text_markdown: "{{ description }}"
            styles:
              desktop:
                text_alignment: 
                  align: center
                text_sizing:
                  text_size: biggest
                margin:
                  top: 0
                  bottom: 80
                block_alignment:
                  align_block:
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: normal
                margin:
                  active: false
                  top: 0
                  bottom: 0
                block_alignment:
                  active: false
                  align_block: left
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: normal
                margin:
                  active: false
                  top: 0
                  bottom: 0
                block_alignment:
                  active: false
                  align_block: left
              width: full
      styles:
        background: white
        rounded: none
        size: normal
        align: none
        desktop:
          margin:
            top: 100
            right: 0
            bottom: 0
            left: 0
          padding:
            top: 130
            right: 0
            bottom: 80
            left: 0
        tablet:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
        mobile:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
---
<div class="container mb-24">
  {% assign collection_name = page.fileSlug | append: '-cheat-sheet' %}
  {% assign cheats = collections[collection_name] | sort: "filePathStem" %}
  <div>
    {% assign previous_category = null %}
    {% for cheat in cheats %}
      {% if cheat.data.title %}
        {% assign split_path = cheat.filePathStem | split: "/" %}
        {% assign split_path_size = split_path | size %}
        {% assign category = split_path[3] %}

        {% if previous_category != category %}
          {% if previous_category %}
                </ul>
            </section>
          {% endif %}
          {% assign previous_category = category %}
          <section class="border border-carbon rounded-2xl mt-10 first:mt-0 max-w-[700px] mx-auto">
            <h2 class="font-bold text-2xl relative bg-[#F5FBFF] p-5 rounded-t-2xl flex justify-between content-center">
              <span>{{ category | replace: '_', ' ' | capitalize }}</span>
              <a class="self-center text-base text-blue-700 hover:underline" 
                target="_blank" href="{{ cheat-sheet-links[page.fileSlug][category] }}">
                Docs
              </a>
            </h2>
            <ul class="list-items">
        {% endif %}

        <li class="border-t border-carbon group/category" x-data="{ expanded: false }">{% include 'partials/cheat-sheet/item.html' cheat:cheat %}</li>
      {% endif %}
    {% endfor %}
      </ul>
    </section>
  </div>
</div>