---
layout: builder.html
eleventyComputed:
  content_blocks:
    - _bookshop_name: sections/container
      content:
        blocks:
          - _bookshop_name: simple/icon-image
            content:
              image: "/images/icons/ecosystem/{{ short_title | downcase | replace: ' ', '-' }}.svg"
              alt: short_title
          - _bookshop_name: simple/heading
            content:
              text: "{{ short_title }}"
            styles:
              size: h1
              width: tight
              desktop:
                text_alignment:
                  align: center
                sizing:
                  size: big
                margin:
                  top: 10
                  bottom: 35
              tablet:
                text_alignment:
                  active: false
                  align: left
                sizing:
                  active: false
                  size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
              mobile:
                text_alignment:
                  active: false
                  align: left
                sizing:
                  active: false
                  size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
          - _bookshop_name: simple/sub-heading
            content:
              text: "{{ description }}"
            styles:
              desktop:
                text_alignment:
                  align: center
                sizing:
                  size: big
                margin:
                  top: 0
                  bottom: 80
              tablet:
                text_alignment:
                  active: false
                  align: center
                sizing:
                  active: false
                  size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
              mobile:
                text_alignment:
                  active: false
                  align: center
                sizing:
                  active: false
                  size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
      styles:
        background: white
        rounded: none
        size: normal
        align: none
        desktop:
          margin:
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            top: 50
            right: 0
            bottom: 20
            left: 0
        tablet:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
        mobile:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
---
{{ content }}

<div class="container mb-24">
  <table class="w-full border-separate border-spacing-0 table-fixed">
    <thead class="">
      <tr class="m-0">
        {% assign file = ecosystem[data] %}    
        {% for head in file[0] %}
          {% if head[0] == "URL" or head[0] == "Image" %}
            {% continue %}
          {% endif %}
          <th class="first:text-left first:w-[200px] px-3 py-4 first:rounded-tl-2xl last:rounded-tr-2xl border-b border-black first:border-l border-t last:border-r bg-[#F5FBFF] font-normal">{{ head[0] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in file %}
        <tr class=" hover:bg-slate-50 group">
          {% for item in row %}
            {% if item[0] == "URL" or item[0] == "Image" %}
              {% continue %}
            {% endif %}
            <td class="first:font-bold even:bg-gray-100 old:bg-white first:text-left text-center px-3 py-4 first:border-l last:border-r border-b group-last:first:rounded-bl-2xl group-last:last:rounded-br-2xl border-black">
              {% assign c = item[1] | strip %}
              {% if c == '0' or c == '1' %}
                {% if c == '1' %}
                  <span class="w-7 flex justify-center m-auto [&>svg]:w-full [&>svg]:stroke-cc">{{ '/src/images/icons/outline/check-circle.svg' | svgContents }}</span>
                {% endif %}
              {% else %}
                {% if item[0] == 'Name' %}
                  <a href="{{ row.URL }}" rel="noopener noreferrer" target="_blank" class="hover:underline flex items-center">
                    <img src="{{ row.Image }}" class="w-8 pr-2" alt="{{ row.Name }} ">
                    {{ c }}
                  </a>
                {% else %}
                  {{ c }}
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>