---
layout: builder.html
---
{{ content }}

dsf

<div class="container">
	<table class="w-full">
		<thead>
			<tr>
				{% for head in ecosystem['analytics'][0] %}
					<th class="first:text-left">{{ head[0] }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in ecosystem['analytics'] %}
				<tr>
					{% for item in row %}
						<td class="first:font-bold first:text-left text-center">
							{% assign c = item[1] | strip %}
							{% if c == '0' or c == '1' %}
								{% if c == '1' %}
									<span class="w-5 inline-block flex justify-center m-auto [&>svg]:w-full [&>svg]:stroke-green-700">{{ '/images/icons/outline/check.svg' | svgContents }}</span>
								{% endif %}
							{% else %}
								{{ c }}
							{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>