---
layout: page.html
---

<div class="bg-sky pt-10 pb-14 md:pt-20 md:pb-28 flex justify-center">
	<img src="{{ logo_image }}" alt="{{ title }}" class="max-h-[250px] w-auto max-w-[60%]">
</div>

<div class="container pb-12 md:pb-24">
	<div class="rounded-xl -mt-11 mb-10 text-center mx-auto p-4 grid grid-cols-1 md:grid-cols-3 bg-white max-w-4xl drop-shadow-lg gap-y-3 md:gap-y-0">
		<div>
			<div class="mb-2">
				<strong class="block">Location</strong>
			</div>
			<div>
				{{ location }}
			</div>
		</div>

		<div>
			<div class="mb-2">
				<strong>Frameworks</strong>
			</div>
			<div class="flex flex-wrap justify-center">
				{% for ssg in frameworks %}
					<img src="/images/icons/ssgs/{{ ssg }}.svg" width="25" height="25" alt="{{ ssg }}" class="mr-[5px] h-[25px] w-auto">
				{% endfor %}
			</div>
		</div>

		<div>
			<div class="mb-2">
				<strong>Links</strong>
			</div>
			<div class="flex justify-center">
				{% if links.site_url %}
					<a href="{{ links.site_url }}" class="hover:scale-110 transition" target="_blank">
						<img src="/images/icons/outline/link.svg" width="25" height="25" alt="Link Icon" class="mr-[5px] h-[25px] w-auto">
					</a>
				{% endif %}

				{% if links.twitter_url %}
					<a href="{{ links.twitter_url }}" class="hover:scale-110 transition" target="_blank">
						<img src="/images/icons/social-color/twitter.svg" width="25" height="25" alt="Twitter Icon" class="mr-[5px] h-[25px] w-auto">
					</a>
				{% endif %}

				{% if links.facebook_url %}
					<a href="{{ links.facebook_url }}" class="hover:scale-110 transition" target="_blank">
						<img src="/images/icons/social-color/facebook.svg" width="25" height="25" alt="Facebook Icon" class="mr-[5px] h-[25px] w-auto">
					</a>
				{% endif %}

				{% if links.linkedin_url %}
					<a href="{{ links.linkedin_url }}" class="hover:scale-110 transition" target="_blank">
						<img src="/images/icons/social-color/linkedin.svg" width="25" height="25" alt="LinkedIn Icon" class="mr-[5px] h-[25px] w-auto">
					</a>
				{% endif %}

				{% if links.twitter_url %}
					<a href="{{ links.twitter_url }}" class="hover:scale-110 transition" target="_blank">
						<img src="/images/icons/social-color/twitter.svg" width="25" height="25" alt="Twitter Icon" class="mr-[5px] h-[25px] w-auto">
					</a>
				{% endif %}
			</div>
		</div>
	</div>

	

	<div class="prose md:prose-lg lg:prose-xl mx-auto hover:prose-a:text-cc hover:prose-a:transition">
		<h1 class="mb-4">{{ title }}</h1>
		{{ long_description }}
	</div>
</div>

<div class="bg-caramel light-text">
	<div class="container py-12 md:py-24">
		<h2 class="text-2xl md:text-4xl text-center font-bold mb-4 md:mb-16">{{ title }}'s work</h2>
		<section class="splide" x-data="Splide({
			options: {
				type: 'loop',
				rewind: true,
				gap: '20px',
				pagination: false,
				speed: 1000
			}
		})" aria-label="Projec Slider">
			<div class="splide__track">
				<ul class="splide__list">
					{% assign i = 0 %}
					{% for slide in slides %}
						<li class="splide__slide">
							<div class="lg:flex">
								<div>
									{% bookshop "helpers/image" image: slide.image, alt: slide.title, responsive: true, classes: 'rounded-xl border-2 border-carbon p-1', width: 784 %}
								</div>
								<div class="lg:w-[350px] lg:ml-8 shrink-0 mt-8 lg:mt-0">
									
									<div class="pt-2 prose lg:prose-lg hover:prose-a:text-cc hover:prose-a:transition">
										<h3>{{ slide.title }}</h3>
										{{ slide.content_markdown | markdownify }}
									</div>
								</div>
							</div>
						</li>
						{% assign i = i | plus: 1 %}
					{% endfor %}
				</ul>
			</div>
		</section>
	</div>
</div>

<div class="container py-14 md:py-28">
	<div class="rounded-xl shadow-xl mx-auto max-w-3xl p-10 mb-10">
		<h3 class="font-bold text-2xl md:text-4xl mb-4">Contact {{ title }}</h3> 
		<p class="text-lg mb-4">Need help with a project? Get in touch with {{ title }}.</p>

		{{ form_embed }}
	</div>
</div>