---
layout: builder.html
eleventyComputed:
  content_blocks:
    - _bookshop_name: hero
      blocks:
        - _bookshop_name: simple/spacer
          size: 100
        - _bookshop_name: simple/heading
          content:
            text: "{{ title }}"
          styles:
            size: h2
            align: center
            width: tight
        - _bookshop_name: simple/spacer
          size: 35
        - _bookshop_name: simple/sub-heading
          content:
            text: "{{ description }}"
          styles:
            size: big
        - _bookshop_name: simple/spacer
          size: 80 
---
<div class="container relative">
  <div class="prose prose-xl mx-auto hover:prose-a:text-cc hover:prose-a:transition">
    {{ content }}
  </div>
  <div class="absolute -right-12 w-[220px] h-full top-0">
    <div class="sticky top-5">
      <div class="flex justify-around mb-2">
        <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="">{{ '/src/images/icons/social/twitter.svg' | svgContents}}</a>
        <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="">{{ '/src/images/icons/social/facebook.svg' | svgContents}}</a>
        <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="">{{ '/src/images/icons/social/linkedin.svg' | svgContents}}</a>
        <a class="w-8 flex justify-center transition [&>svg]:stroke-gray-300 [&>svg]:hover:stroke-gray-500" href="">{{ '/src/images/icons/outline/envelope.svg' | svgContents}}</a>
      </div>
      {% include 'partials/lesson/table.html' %}
    </div>
  </div>
</div>

{% include 'partials/lesson/follow-on-buttons.html' %}