---
layout: builder.html
eleventyComputed:
  text_block:
    _bookshop_name: simple/text-block
    content:
      text_markdown: "{{ description }}"
    styles:
      desktop:
        text_alignment: 
          align: center
        text_sizing:
          text_size: biggest
        margin:
          top: 0
          bottom: 32
        block_alignment:
          align_block:
      tablet:
        text_alignment:
          active: false
          align: left
        text_sizing:
          active: false
          text_size: normal
        margin:
          active: false
          top: 0
          bottom: 0
        block_alignment:
          active: false
          align_block: left
      mobile:
        text_alignment:
          active: false
          align: left
        text_sizing:
          active: false
          text_size: normal
        margin:
          active: false
          top: 0
          bottom: 0
        block_alignment:
          active: false
          align_block: left
      width: full
---

<div class="container relative" data-pagefind-filter="site:Resources" data-pagefind-meta="site:Resources" data-pagefind-body>
  {% assign tutorial_linked = collections.tutorials | where: "fileSlug", tutorial | first %}
  {% assign person = collections.authors | where: "data.uuid", tutorial_linked.data.author | first %}
  <h1 class="mx-auto text-center leading-tight text-gray-900 max-w-3xl text-3xl md:text-5xl font-bold mb-8 pt-20">{{ title }}</h1>
  <div class="mt-2 text-center">
    {% bookshop "simple/text-block" bind: text_block %}
  </div>
  <div class="flex justify-center items-center pb-10">
    {% bookshop 'helpers/image' image: person.data.image.path alt: person.data.image_alt responsive: false width: 96 height: 96 classes: 'w-12 rounded-full' %}
    <span class="ml-3 text-gray-900">
      <strong>
        By {{ person.data.name }}
      </strong> 
    </span>
  </div>

  <div class="relative mx-[-2rem]">
    <div class="prose container md:prose-lg lg:prose-xl mb-20 mx-auto hover:prose-a:text-cc hover:prose-a:transition">
      {{ content }}
    </div>
    <div class="xl:absolute xl:right-0 2xl:right-[-40px] xl:w-[220px] xl:h-full top-0 max-w-prose mx-auto xl:mx-0 px-8 xl:px-0 mt-8 xl:mt-0">
      <div class="xl:sticky top-5">
        <div class="flex justify-around mb-2">
          <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="https://twitter.com/share?url=https://cloudcannon.com{{ page.url }}">{{ '/src/images/icons/social/twitter.svg' | svgContents}}</a>
          <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="https://www.facebook.com/sharer.php?u=https://cloudcannon.com{{ page.url }}">{{ '/src/images/icons/social/facebook.svg' | svgContents}}</a>
          <a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="http://www.linkedin.com/shareArticle?mini=true&url=https://cloudcannon.com{{ page.url }}">{{ '/src/images/icons/social/linkedin.svg' | svgContents}}</a>
          <a class="w-8 flex justify-center transition [&>svg]:stroke-gray-300 [&>svg]:hover:stroke-gray-500" href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://cloudcannon.com{{ page.url }}.">{{ '/src/images/icons/outline/envelope.svg' | svgContents}}</a>
        </div>
        {% include 'partials/lesson/table.html' %}
      </div>
    </div>
  </div>
</div>

{% include 'partials/lesson/follow-on-buttons.html' %}