---
layout: page.html
eleventyComputed:
  heading:
    content:
      text: {{ title }}
    styles:
      size: "h2"
      width: "tight"
      align: "center"
---

{% bookshop "simple/spacer" size:100 %}
{% bookshop "simple/heading" bind:heading %}
{% bookshop "simple/spacer" size:35 %}
{% bookshop "simple/sub-heading" text:description size:"big" %}
{% bookshop "simple/spacer" size:30 %}

<div class="container relative">
  <div class="prose prose-xl mx-auto hover:prose-a:text-cc hover:prose-a:transition">
    {{ content }}
  </div>
</div>