<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<link href="/images/favicon.svg" rel="shortcut icon" type="image/svg+xml">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>REWORK {{ title }}</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="preload" href="/fonts/tt-norms-pro/regular.woff2" as="font" crossOrigin="anonymous" type="font/woff2">
	<link rel="preload" href="/fonts/tt-norms-pro/bold.woff2" as="font" crossOrigin="anonymous" type="font/woff2">
	<link href="https://cloudcannon.com/blog/feed.xml" rel="alternate" title="CloudCannon" type="application/atom+xml">
	<script src="/js/main.js" defer></script>
	
</head>

<body class="overflow-x-hidden subpixel-antialiased">
	{% include 'partials/nav/_nav.html' %}
	{{ content }}
	{% include 'partials/footer/_footer.html' %}
</body>
</html>

