<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<link href="{{ site.favicon }}" rel="shortcut icon" type="image/svg+xml">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | CloudCannon</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/_pagefind/pagefind-modular-ui.css" type="text/css">
	<link rel="preload" href="/fonts/tt-norms-pro/regular.woff2" as="font" crossOrigin="anonymous" type="font/woff2">
	<link rel="preload" href="/fonts/tt-norms-pro/bold.woff2" as="font" crossOrigin="anonymous" type="font/woff2">
	<link rel="preconnect" href="https://www.googletagmanager.com">
	<link rel="preconnect" href="https://www.google-analytics.com">
	<link href="https://cloudcannon.com/blog/feed.xml" rel="alternate" title="CloudCannon" type="application/atom+xml">
	<script src="/js/main.js" defer></script>

	<!-- SEO tags -->
	{% include 'partials/head/seo.html' %}
	{% include 'partials/head/analytics.html' %}
	{% include 'partials/head/iframe-classes.html' %}
</head>

<body class="overflow-x-clip subpixel-antialiased text-carbon relative">
	{% include 'partials/analytics/noscript-google-analytics.html' %}
	{% include 'partials/nav/_nav.html' %}
	<div 
		class="overflow-x-hidden"
		{% if search_bucket %}
		{% if search_bucket != "Excluded" %}
		data-pagefind-filter="site:{{search_bucket}}" data-pagefind-meta="site:{{search_bucket}}" data-pagefind-body
		{% endif %}
		{% endif %}>
		{{ content }}
	</div>
	{% include 'partials/footer/_footer.html' %}
	{% include 'partials/footer/analytics.html' %} 
</body>
</html>

