---
layout: page.html
---
{% assign person = collections.authors | where: "data.slug", author | first %}
<div class="container py-20">
	<h1 class="mx-auto text-center leading-tight text-gray-900 max-w-3xl text-5xl font-bold mb-8">{{ title }}</h1>
	<div class="flex justify-center items-center">
		<img src="{{ person.data.image.path }}" alt="{{ person.data.image_alt }}" class="w-12 rounded-full">
		<span class="ml-3 text-gray-900">
			<strong>
				By {{ person.data.name }}
				<span class="text-gray-400">·</span>
			</strong> 
			<span class="text-gray-700">{{ date | date: "%-d %b %Y" }}</span>
		</span>
	</div>
	<div class="text-gray-400 text-center">
		{% for tag in tags %}
			{% if tag == "posts" %}{% continue %}{% endif %}
			<span class="first:hidden"> · </span>
			<a href="/blog/tags/{{ tag | downcase }}/" class="text-blue-400 uppercase hover:text-blue-600 hover:underline transition">
				{{ tag }}
			</a> 
		{% endfor %}
	</div>
	<div class="w-4/5 mx-auto mt-8 mb-20">
		<img class="w-full h-96 object-cover object-center rounded-lg"
			src="{{ image }}" alt="{{ title }}">
	</div>
	<div class="relative">
		<div class="prose prose-xl mx-auto hover:prose-a:text-cc hover:prose-a:transition">
			{{ content }}
		</div>
		<div class="absolute right-0 top-2 h-full">
			<div class="sticky top-20 flex flex-col items-center gap-y-4">
				<a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="">{{ '/images/icons/social/twitter.svg' | svgContents}}</a>
				<a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="">{{ '/images/icons/social/facebook.svg' | svgContents}}</a>
				<a class="w-8 flex justify-center transition [&>svg]:fill-gray-300 [&>svg]:hover:fill-gray-500" href="">{{ '/images/icons/social/linkedin.svg' | svgContents}}</a>
				<a class="w-8 flex justify-center transition [&>svg]:stroke-gray-300 [&>svg]:hover:stroke-gray-500" href="">{{ '/images/icons/outline/envelope.svg' | svgContents}}</a>
			</div>
		</div>
	</div>
</div>