---
layout: page.html
search_bucket: Resources
eleventyComputed:  
  header_blocks:
    - _bookshop_name: sections/container
      content:
        blocks:
        - _bookshop_name: simple/color-block          
        - _bookshop_name: simple/breadcrumbs
          content:
            final_crumb: "{{ breadcrumb_title }}"          
        - _bookshop_name: sections/template-container
          content:
            blocks:
              - _bookshop_name: sections/template-container
                content:
                  blocks:
                    - _bookshop_name: sections/template-container
                      content:
                        blocks:
                          - _bookshop_name: simple/template-eyebrow
                            starter: "{{ categories contains 'Starter' }}"     
                          - _bookshop_name: simple/heading
                            content:
                              text: "{{ name }}"
                            styles:
                              element: h1
                              size: h1
                              width: full
                              desktop:
                                text_alignment:
                                  align: left
                                text_sizing:
                                  text_size: big
                                margin:
                                  top: 0
                                  bottom: 0
                              tablet:
                                text_alignment:
                                  active: false
                                  align: left
                                text_sizing:
                                  active: false
                                  text_size: big
                                margin:
                                  active: false
                                  top: 0
                                  bottom: 0
                              mobile:
                                text_alignment:
                                  active: false
                                  align: left
                                text_sizing:
                                  active: true
                                  text_size: normal
                                margin:
                                  active: false
                                  top: 0
                                  bottom: 0
                          - _bookshop_name: simple/text-block
                            content:
                              text_markdown: "{{ description }}"
                            styles:
                              width: large
                              desktop:
                                text_alignment: 
                                  align: left
                                text_sizing:
                                  text_size: normal
                                margin:
                                  top: 30
                                  bottom: 30
                                block_alignment:
                                  align_block: left
                              tablet:
                                text_alignment:
                                  active: false
                                  align: left
                                text_sizing:
                                  active: false
                                  text_size: normal
                                margin:
                                  active: false
                                  top: 0
                                  bottom: 0
                                block_alignment:
                                  active: false
                                  align_block: left
                              mobile:
                                text_alignment:
                                  active: false
                                  align: left
                                text_sizing:
                                  active: true
                                  text_size: normal
                                margin:
                                  active: false
                                  top: 0
                                  bottom: 0
                                block_alignment:
                                  active: false
                                  align_block: left
                          - _bookshop_name: simple/template-button
                            show: "{{ categories contains 'Starter' }}"
                            content:
                              text: View on Github   
                      styles:
                        background: transparent
                        classes: 'flex flex-col lg:items-start '
                        desktop:
                          padding:
                            top: 0
                            bottom: 0
                            left: 0
                            right: 0
                          margin:
                            top: 0
                            bottom: 0
                        tablet:
                          padding:
                            top: 0
                            bottom: 0
                            left: 0
                            right: 0
                          margin:
                            top: 0
                            bottom: 0
                        mobile:
                          padding:
                            top: 0
                            bottom: 0
                            left: 0
                            right: 0
                          margin:
                            top: 0
                            bottom: 0
                    - _bookshop_name: simple/template-badges-block     
                      categories: "{{ categories | join: ',' }}"
                      partner: {{ partner }}                       
                styles:
                  background: transparent
                  classes: 'flex flex-col md:flex-row items-start {% if categories contains "Starter" %}w-full lg:w-2/4{% endif %}'
                  desktop:
                    padding:
                      top: 0
                      bottom: 0
                      left: 0
                      right: 0
                    margin:
                      top: 0
                      bottom: 0
                  tablet:
                    padding:
                      top: 0
                      bottom: 0
                      left: 0
                      right: 0
                    margin:
                      top: 0
                      bottom: 0
                  mobile:
                    padding:
                      top: 0
                      bottom: 0
                      left: 0
                      right: 0
                    margin:
                      top: 0
                      bottom: 0
              - _bookshop_name: sections/template-hero
                starter: "{{ categories contains 'Starter' }}"  
                live_preview_url: "{{ ssgs[0].live_preview_url }}"
          styles:
            classes: 'template_header flex gap-10 {% unless categories contains "Starter" %}flex-col{% else %}flex-col lg:flex-row{% endunless %}'
            background: transparent
            rounded: none
            size: normal
            align: none
            desktop:
              margin:
                top: 0
                right: 0
                bottom: 0
                left: 0
              padding:
                top: 50
                right: 0
                bottom: 0
                left: 0
            tablet:
              margin:
                active: false
                top: 0
                right: 0
                bottom: 0
                left: 0
              padding:
                active: false
                top: 0
                right: 0
                bottom: 0
                left: 0
            mobile:
              margin:
                active: false
                top: 0
                right: 0
                bottom: 0
                left: 0
              padding:
                active: false
                top: 0
                right: 0
                bottom: 0
                left: 0        
      styles:
        background: transparent
        rounded: none
        size: normal
        align: none
        desktop:
          margin:
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            top: 30
            right: 0
            bottom: 100
            left: 0
        tablet:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: true
            top: 30
            right: 0
            bottom: 80
            left: 0
        mobile:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: true
            top: 30
            right: 0
            bottom: 80
            left: 0
---

{% bookshop_include "page" content_blocks: header_blocks %}


<div class="container mb-20">
  <div x-data="{ selected:1, loading: false, loading_time: 200 }" class="flex flex-col lg:flex-row justify-between xl:w-[1013px]">    
    {% bookshop 'simple/sidebar' %}

    {% assign i = 0 %}
    {% for ssg in ssgs %}
      {% assign r = ssgs[i] %}
      {% assign i = i | plus: 1 %}
      <div x-show.transition.opacity="selected == {{ i }}" class="transition-opacity duration-500">
        <!-- Loading Skeleton -->
        <div x-show="loading" x-cloak class=" space-y-4">
          <div class="md:flex justify-center mb-16 md:space-x-4">
            <div class=" bg-carbon-100 block md:inline-block text-lg py-2 px-3 rounded-lg w-full min-h-[44px] md:min-h-[48px] md:w-[250px]"></div>
            <div class=" bg-carbon-100 block my-3 md:my-0 md:inline-block text-lg py-2 px-3 rounded-lg w-full min-h-[44px] md:min-h-[48px] md:w-[178px]"></div>
            <div class=" bg-carbon-100 block md:inline-block text-lg py-2 px-3 rounded-lg w-full min-h-[44px] md:min-h-[48px] md:w-[152px]"></div>
          </div>
          <div class="prose md:prose-lg lg:prose-xl mx-auto">
            <div class=" bg-carbon-100 rounded-[20px] w-3/4 h-[77px] mb-8"></div>
            <div class=" bg-carbon-100 rounded-[20px] w-full mb-6 h-[77px]"></div>
            <div class="h-[235px] bg-carbon-100 rounded-[20px] w-full mb-6"></div>
            <div class=" h-[235px] bg-carbon-100 rounded-[20px] w-full mb-6"></div>
            <div class=" h-[235px] bg-carbon-100 rounded-[20px] w-full mb-6"></div>
          </div>
        </div>
      
        <!-- Loaded Content -->
        <div x-show="!loading" class="lg:w-[700px]">
          <div class="prose md:prose-lg lg:prose-xl prose-li:my-[3px] prose-h1:mb-2 prose-h2:mb-1 prose-h2:mt-2 prose-h3:mb-1 prose-h3:mt-2 hover:prose-a:text-cc hover:prose-a:transition">
            {{ r.github_repo_url | download_github_readme: r.main_branch, r.readme_filename | strip_markdown_images | strip_cc_deploy | strip_first_h1 | markdownify }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

