<div class="flex gap-x-1 absolute top-0 right-0">
    {% for cat in categories %}
        <span class="text-cc border capitalize border-cc rounded-full px-2 py-1 text-xs font-medium">{{ cat }}</span>
    {% endfor %}
</div>