{% assign categories = categories | split: ',' %}
    
{% unless categories contains "Starter" %}

    <div class="flex flex-col items-end gap-2.5">
        <div class="flex gap-x-1">            
            {% for cat in categories %}
                <span class="text-cc border-2 capitalize border-cc rounded-full px-4 py-2 text-xs font-medium bg-white">{{ cat }}</span>
            {% endfor %}    
        </div>
        {% if partner %}
            {% bookshop 'simple/partner-badge' %}
        {% endif %}
    </div>

{% endunless %}