{% assign css_styles = "" %}
{% if size < 0 %}
	{% assign css_styles = css_styles | append: ' margin-top:' | append: size | append: 'px;' %}
{% else %}
	{% assign css_styles = css_styles | append: ' padding-top:' | append: size | append: 'px;' %}
{% endif %}

<div styles="{{ css_styles }}"></div>