{% assign classes = "prose prose-lg prose-ul:list-outside prose-li:font-medium prose-p:font-medium prose-li:marker:text-black mx-auto " %}
{% assign css_styles = " " %}

{% case styles.text_alignment %}
{% when 'center' %}
	{% assign classes = classes | append: " text-center" %}
{% endcase %}

{% if styles.center_block %}
	{% assign classes = classes | append: " mx-auto" %}
{% endif %}

{% case styles.width %}
{% when "medium" %}
	{% assign classes = classes | append: " max-w-screen-md" %}
{% when "large" %}
	{% assign classes = classes | append: " max-w-screen-lg" %}
{% else %}
	{% assign classes = classes | append: " max-w-none" %}
{% endcase %}

{% case styles.text_color %}
	{% when 'white' %}
		{% assign classes = classes | append: " text-white" %}
	{% when 'gray' %}
		{% assign classes = classes | append: " text-gray-200" %}
{% endcase %}

{% case styles.text_size %}
	{% when 'big' %}
		{% assign classes = classes | append: " text-2xl" %}
	{% else %}
		{% assign classes = classes | append: " text-xl" %}
	{% endcase %}

	{% if styles.margin %}
		{% if styles.margin.top %}
			{% assign css_styles = css_styles | append: " " | append: "margin-top:" | append: styles.margin.top | append: "px;" %}
		{% endif %}

		{% if styles.margin.bottom %}
			{% assign css_styles = css_styles | append: " " | append: "margin-bottom:" | append: styles.margin.bottom | append: "px;" %}
		{% endif %}
	{% endif %}
<div class="{{ classes }}" style="{{ css_styles }}">
	{{ content.text_markdown | markdownify }}
</div>