<div class="relative {% if extend %}-mx-36{% endif %} {% if border %} border-2 {% endif %}">
	<img src="{{ src }}" alt="{{ alt }}" class="rounded-xl mx-auto {% if extend %}w-full max-h-[700px] object-cover object-center{% endif %}" />
</div>