<li class=" list-none border-red-700 border-b border-solid border-opacity-[0.09]" 
	x-data="{ menuItemOpen: false }" 
	x-on:click="menuItemOpen = !menuItemOpen"
	@click.outside="menuItemOpen = false">
	{% if item.sub_navs %}
		<button class="bg-white w-full p-6 border-none font-extrabold text-xl text-cc flex items-center justify-between">
			{{ item.name }} 
			<svg :class="menuItemOpen ? 'transition duration-300 ease-cc-cubic rotate-180' : 'transition duration-300 rotate-0'" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="m18 10-1.41-1.41-4.59 4.58-4.59-4.58-1.41 1.41 6 6z" fill="#034ad8"></path>
			</svg>
		</button>
		<div class="" x-show="menuItemOpen" x-cloak="">
			<ul class="p-6 pt-0">
				{% for sub_nav in item.sub_navs %}
					<div class="uppercase text-carbon text-xs tracking-[6px] font-medium pb-4 mt-6 first:mt-0">
						{{ sub_nav.title }}
					</div>
					{% for sub_item in sub_nav.sub_nav %}
						<li>
							{% if sub_item.link %}
								<a href="{{ sub_item.link }}" class="block py-2 group">
									<div class="flex">
										{% if sub_item.icon_path %}
											{% assign icon_path = "/src/images/icons/" | append: sub_item.icon_path | append: ".svg" %}
											<span class="w-6 relative block transition [&>*]:stroke-{{ sub_item.nav_icon_color }}">{{  icon_path | svgContents }}</span>
										{% endif %}
										<div class="flex-1 pl-4">
											{% if sub_item.name %}
												<span class="block text-neutral-700 text-base font-medium">
													{{ sub_item.name }} 
												</span>
											{% endif %}
											{% if sub_item.description %}
												<span class="block text-neutral-500 text-xs">
													{{ sub_item.description }}
												</span>
											{% endif %}
										</div>
									</div>
								</a>
							{% endif %}
						</li>
					{% endfor %}
					{% for sub_item in sub_nav.sub_card %}
						{% if sub_item.featured_page_link %}
							<a 
								href="{{ sub_item.featured_page_link }}" 
								class="block p-2 group border-2 border-[#393939] rounded-lg overflow-scroll">
								<div class="flex"> 
									<div class="flex-1">
										{% assign pages = collections.all %}
										{% for page in pages %}
											{% if page.url == sub_item.featured_page_link %}
												{% if sub_item.image.image_path %}
													<img class="rounded-lg object-cover min-h-[138px] min-w-full" src="{{ sub_item.image.image_path }}" alt="">
												{% else %}
													<img class="rounded-lg object-cover min-h-[138px] min-w-full" src="{{ page.data.image }}" alt="">
												{% endif %}	
												<div class="text-base font-semibold pt-4 pb-1">
													{% if sub_item.name %}
														{{ sub_item.name }}
													{% else %}
														{{ page.data.title }}
													{% endif %}
												</div>
											{% endif %}
										{% endfor %}
										<p class="flex text-cc font-bold">Learn more 
											<span class="flex align-items-center w-4 inline-block ml-1 font-bold">
												{{ "/src/images/icons/solid/arrow-right.svg" | svgContents }}
											</span>
										</p>
									</div>
								</div>
							</a>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<a href="{{ item.link }}" class="bg-white w-full p-6 border-none font-extrabold text-xl text-cc flex items-center">
			{{ item.name }} 
		</a>
	{% endif %}
</li>
