<!-- TODO: fine tune background transition -->
<div class="z-40 fixed w-full h-full bg-black/80"
    x-cloak
    x-show="mobileNavOpen"
    x-transition:enter="transition ease-cc-cubic duration-200"
    x-transition:enter-start="bg-black/0"
    x-transition:enter-end="bg-black/80"
    x-transition:leave="transition ease-cc-cubic duration-200"
    x-transition:leave-start="bg-white/80"
    x-transition:leave-end="bg-white/0"

    >
        <div class="max-w-sm bg-white w-full absolute right-0 h-screen z-50 overflow-y-scroll" 
        x-show="mobileNavOpen"
        x-trap.inert.noscroll="mobileNavOpen"
        @click.outside="mobileNavOpen = false"
        x-cloak
        x-transition:enter="transition ease-cc-cubic duration-200 transform"
        x-transition:enter-start="translate-x-full"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-cc-cubic duration-200 transform"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-full"
        @keydown.down.window="$focus.wrap().next()"
        @keydown.up.window="$focus.wrap().previous()"    
        @keydown.escape.window="mobileNavOpen = false"
    >
        <div class="px-4 py-6">
            <!-- TODO: change these to use the button component -->
            <a href="" class="border-2 rounded-lg py-2 px-2 font-bold text-base transition 
            text-cc border-cc hover:bg-blue-50 block w-full text-center">
            Login
            </a>
            <a href="/" class="border-2 rounded-lg py-2 px-2 font-bold text-base transition 
            text-white bg-cc border-cc hover:bg-cc_hover ml-1 w-full block text-center mt-3
            ">Get Started</a>
        </div>
        <nav>
            <ul>
                {% for item in nav %}
                    {% include 'partials/nav/_mobile_nav_item.html' item:item %}
                {% endfor %}

            </ul>
        </nav>


    </div>
</div>
