<div class="max-w-sm bg-white w-full absolute right-0 h-screen z-50" 
    x-show="mobileNavOpen"
    x-trap.inert.noscroll="mobileNavOpen"
    x-cloak
       x-transition:enter="transition ease-linear duration-200 transform"
       x-transition:enter-start="translate-x-full"
       x-transition:enter-end="translate-x-0"
       x-transition:leave="transition ease-out duration-200 transform"
       x-transition:leave-start="translate-x-0"
       x-transition:leave-end="translate-x-full"
    @keydown.down.window="$focus.wrap().next()"
    @keydown.up.window="$focus.wrap().previous()"    
    @keydown.escape.window="mobileNavOpen = false"
>
    <div class="">
        {% bookshop "simple/button" bind: buttons.login %}
        {% bookshop "simple/button" bind: buttons.signup %}
    </div>
    <nav>
		{% for item in nav %}
			{% include 'partials/nav/_nav_item.html' item:item %}
		{% endfor %}
    </nav>


</div>