{% assign nav_count = item.sub_navs | size %}
<div x-show="open" x-transition class="caret">
	<div class="shadow-menu bg-white rounded-2xl flex right-0 absolute mt-6
		[&>div:first-child>a:first-child]:rounded-tl-2xl
		[&>div:last-child>a:first-child]:rounded-tr-2xl
		[&>div:first-child>a:last-child]:rounded-bl-2xl
		[&>div:last-child>a:last-child]:rounded-br-2xl
	">
		{% for sub_nav in item.sub_navs %}
			<div class="w-96">
				{% for sub_item in sub_nav.sub_nav %}
					<a 
						href="{{ sub_item.link }}" 
						class="hover:bg-gray-100 block py-4 transition duration-200">
						<div class="flex pl-4">
							{% assign icon_path = "/images/icons/outline/" | append: sub_item.icon | append: ".svg" %}
							<span class="w-6 relative top-0.5 block [&>*]:stroke-cc">{{  icon_path | svgContents }}</span>
							<div class="flex-1 pl-4">
								<div class="text-lg font-semibold">{{ sub_item.name }}</div>
								<div class="text-gray-500 text-m">{{ sub_item.description }}</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>