{% assign nav_count = item.sub_navs | size %}
<div x-show="open" x-cloak class="caret">
	<div class="shadow-menu bg-white grid grid-cols-{{ nav_count }} justify-center right-0 left-0 absolute mt-6 pb-6 z-30 px-10 rounded-xl">
		{% for sub_nav in item.sub_navs %}
			<div class="py-5 mx-4">
				<div class="uppercase text-gray-600 text-xs tracking-[.25em] pb-4">{{ sub_nav.title }}</div>
				{% for sub_item in sub_nav.sub_nav %}
					<a 
						href="{{ sub_item.link }}" 
						class="block py-2 group">
						<div class="flex">
							{% assign icon_path = "/src/images/icons/" | append: sub_item.icon_path | append: ".svg" %}
							<span class="w-6 relative block transition [&>*]:stroke-{{ sub_item.nav_icon_color }}">{{  icon_path | svgContents }}</span>
							<div class="flex-1 pl-4">
								<div class="text-base font-semibold {% if sub_item.link == '' %}line-through{% endif %}">
									{{ sub_item.name }}
									<span class="w-4 inline-block">
										<span class="hidden translate-y-1 transition group-hover:translate-x-1 group-hover:inline-block w-full">
											{{ "/src/images/icons/solid/arrow-right.svg" | svgContents }}
										</span>
									</span>
								</div>
								<div class="text-nimbus text-sm group-hover:text-gray-900 transition max-w-[250px]">{{ sub_item.description }}</div>
							</div>
						</div>
					</a>
				{% endfor %}
				{% for sub_item in sub_nav.sub_card %}
					<a 
						href="{{ sub_item.featured_post_link }}" 
						class="block p-2 group border-2 border-indigo-600">
						<div class="flex">
							<div class="flex-1">
								{% assign posts = collections.posts %}
								{% for post in posts %}
									{% if post.url == sub_item.featured_post_link %}
										{% if sub_item.image.image_path %}
											<img src="{{ sub_item.image.image_path }}" alt="">
										{% else %}
											<img src="{{ post.data.image }}" alt="">
										{% endif %}	
										<div class="text-base font-semibold">
											{% if sub_item.name %}
												{{ sub_item.name }}
											{% else %}
												{{ post.data.title }}
											{% endif %}
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
