<div class="mt-16 flex justify-center">
	{% for component in button_blocks %}
		<div class="mr-3 last:mr-0">
			{% bookshop "{{component._bookshop_name}}" bind: component %}
		</div>
	{% endfor %}
</div>