<style>
    iframe{
        transform:scale(0.5); 
        transform-origin:top left;
    }
</style>

{% if starter != "true" %}
    <div class="template-hero flex justify-between items-center">

        <div class="rounded-2xl border-2 border-carbon w-[976px] h-[634px] overflow-hidden bg-white">
            <iframe 
            class="rounded-2xl"
            title="Inline Frame Example"
            width="200%"
            height="200%"
            src="{{ live_preview_url }}">
            </iframe>
        </div>

        <div class="rounded-2xl border-2 border-carbon w-[200px] h-[433px] overflow-hidden bg-white">
            <iframe
            class="rounded-2xl"
            title="Inline Frame Example"
            width="200%"
            height="200%"
            src="{{ live_preview_url }}">
            </iframe>
        </div>

    </div>
{% else %}
    <div class="relative w-2/4 bg-cc_blue_light p-6 overflow-hidden flex justify-center items-center rounded-xl">
        {% bookshop "helpers/image" image: image alt: title responsive: true classes: "w-full" %}
        <div class="absolute flex justify-center items-center gap-8">
            <img src="/images/icons/ssgs/{{ ssgs[0].ssg_name }}.svg" alt="{{ ssgs[0].ssg_name }}" width="80" height="80" />
            <span class="text-carbon_800 font-bold text-[78px]">+</span>
            <img class="" src="/images/cc-symbol-logo.svg" height="80" />
        </div>
    </div>
{% endif %}