<div class="md:flex justify-center mb-16">
	<a target="_blank" href="https://app.cloudcannon.com/#sites/templates/{{ details.ssg_name | downcase | remove: "."  }}/{{ details.github_repo_url | downcase | remove: "https://github.com/" }}"
		class="bg-cc hover:bg-cc_hover hover:scale-105 text-white font-bold transition block md:inline-block text-lg py-2 px-3 rounded-lg">
		<span class="flex items-center">
			<img src="/images/logos/cloudcannon.svg" alt="CloudCannon logo" class="mr-2 h-[15px] w-auto relative top-[1px]"> Deploy to CloudCannon
		</span>
	</a>

	<a target="_blank" href="{{ details.github_repo_url }}"
		class="border-2 border-cc hover:border-cc_hover hover:scale-105 md:mx-3 font-bold text-cc transition block my-3 md:my-0 md:inline-block text-lg py-2 px-3 rounded-lg">
		<span class="flex items-center">
			<img src="/images/logos/github.svg" alt="GitHub logo" class="mr-2 h-[15px] w-auto relative top-[1px]"> View on GitHub
		</span>
	</a>

	<a target="_blank" href="{{ details.live_preview_url }}"
		class="border-2 border-cc hover:border-cc_hover hover:scale-105 font-bold text-cc transition block md:inline-block text-lg py-2 px-3 rounded-lg">
		<span class="flex items-center">
			<img src="/images/icons/solid/eye.svg" alt="eye logo" class="mr-2 h-[15px] w-auto relative top-[1px]"> Live Preview
		</span>
	</a>
</div>

