{% if meta.env == 'production' %}
	<!-- Start of HubSpot Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/22461532.js"></script>
	<!-- End of HubSpot Embed Code -->
	
	{% if meta.google_analytics_key %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ meta.google_analytics_key }}"></script>
		<script>
			if (window.inEditorMode === undefined && window.location.host === "cloudcannon.com") {
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', "{{ meta.google_analytics_key }}");
			}
		</script>

		<meta name="google-site-verification" content="REhOTBBXHV7vTdGUL4PblMmT4eNe8yhadJ8Cfks9gsk" />
	{% endif %}

	<script>
		{% if lead_score %}
			{% assign ls = lead_score %}
		{% elsif tags and tags contains "Features" %}
			{% assign ls = 2 %}
		{% endif %}

		if (!gtag) {
			function gtag(){};
		}
		
		{% if ls %}
			gtag('event', 'LeadScore', {
					'event_label': window.location.pathname,
					'event_category': 'lead_score',
					'value': {{ ls }},
					'non_interaction': true
				});

			var lead = localStorage.getItem('lead');
			if (lead === null) {
				lead = 0;
			}

			lead = parseInt(lead);

			var belowThreshold = lead < 8;

			lead += {{ ls }};
			localStorage.setItem('lead', lead);

			if (lead >= 8 && belowThreshold) {
				gtag('event', 'QualityVisitor', {
					'event_label': window.location.pathname,
					'event_category': 'lead_score',
					'value': 1,
					'non_interaction': true
				});
			}
		{% endif %}
		
	</script>
{% endif %}