<h4 class="text-lg font-bold">
	<a class="hover:bg-gray-100 group/heading py-2 px-5 block" :class="{'group-last/category:rounded-b-2xl': !expanded}"
		@click="expanded = ! expanded">
			<span class="w-3 inline-block relative top-0.5 transition-transform" :class="{'rotate-90': expanded}">
				{{ '/images/icons/outline/chevron-right.svg' | svgContents }}
			</span>
			<span class="group-hover/heading:underline">{{ cheat.data.title | markdownify }}</span>
	</a>
</h4>
<div class="px-5 py-3 border-t border-dashed border-gray-400" x-show="expanded" x-collapse>
	{% if cheat.data.description %}
		<p>{{ cheat.data.description }}</p>
	{% endif %}

	<div class="prose mx-auto hover:prose-a:text-cc hover:prose-a:transition">
		{{ cheat.templateContent }}
	</div>
</div>