{% assign css_styles = "" %}

{% if styles.margin %}
	{% if styles.margin.top %}
		{% assign css_styles = css_styles | append: " " | append: "margin-top:" | append: styles.margin.top | append: "px;" %}
	{% endif %}

	{% if styles.margin.left %}
		{% assign css_styles = css_styles | append: " " | append: "margin-left:" | append: styles.margin.left | append: "px;" %}
	{% endif %}

	{% if styles.margin.right %}
		{% assign css_styles = css_styles | append: " " | append: "margin-right:" | append: styles.margin.right | append: "px;" %}
	{% endif %}

	{% if styles.margin.bottom %}
		{% assign css_styles = css_styles | append: " " | append: "margin-bottom:" | append: styles.margin.bottom | append: "px;" %}
	{% endif %}
{% endif %}

<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4"  style="{{ css_styles }}">
	{% for item in content.logo_blocks %}
		{% bookshop "simple/logo" content:item.content, styles:item.styles %}
	{% endfor %}
</div>