{% assign classes = "" %}
{% assign css_styles = "" %}

{% case styles.background %}
	{% when 'caramel' %}
		{% assign classes = classes | append: " bg-caramel" %}
	{% when 'sky' %}
		{% assign classes = classes | append: " bg-sky" %}
	{% when 'cc-blue' %}
		{% assign classes = classes | append: " bg-cc text-white" %}
	{% when 'ash' %}
		{% assign classes = classes | append: " bg-ash" %}
	{% when 'night' %}
		{% assign classes = classes | append: " bg-night text-white" %}
	{% when 'sun-spot' %}
		{% assign classes = classes | append: " sun-spot" %}
	{% else %}
		{% assign classes = classes | append: " bg-white" %}
{% endcase %}

{% case styles.rounded %}
	{% when 'top' %}
		{% assign classes = classes | append: " rounded-t-[40px] -mt-[40px]" %}
	{% when 'full' %}
		{% assign classes = classes | append: " rounded-[20px]" %}
{% endcase %}

{% if styles.margin %}
	{% if styles.margin.top and styles.rounded != 'top' %}
		{% assign css_styles = css_styles | append: " " | append: "margin-top:" | append: styles.margin.top | append: "px;" %}
	{% endif %}

	{% if styles.align == 'center' %}
		{% assign css_styles = css_styles | append: " " | append: "margin-left: auto; margin-right: auto;" %}
	{% else %}
		{% if styles.margin.left %}
			{% assign css_styles = css_styles | append: " " | append: "margin-left:" | append: styles.margin.left | append: "px;" %}
		{% endif %}

		{% if styles.margin.right %}
			{% assign css_styles = css_styles | append: " " | append: "margin-right:" | append: styles.margin.right | append: "px;" %}
		{% endif %}
	{% endif %}

	{% if styles.margin.bottom %}
		{% assign css_styles = css_styles | append: " " | append: "margin-bottom:" | append: styles.margin.bottom | append: "px;" %}
	{% endif %}
{% endif %}

{% if styles.padding %}
	{% if styles.padding.top %}
		{% assign css_styles = css_styles | append: " " | append: "padding-top:" | append: styles.padding.top | append: "px;" %}
	{% endif %}

	{% if styles.padding.left %}
		{% assign css_styles = css_styles | append: " " | append: "padding-left:" | append: styles.padding.left | append: "px;" %}
	{% endif %}

	{% if styles.padding.right %}
		{% assign css_styles = css_styles | append: " " | append: "padding-right:" | append: styles.padding.right | append: "px;" %}
	{% endif %}

	{% if styles.padding.bottom %}
		{% assign css_styles = css_styles | append: " " | append: "padding-bottom:" | append: styles.padding.bottom | append: "px;" %}
	{% endif %}
{% endif %}

{% case styles.size %}
{% when 'small' %}
	{% assign classes = classes | append: " w-[800px] mx-auto" %}
{% endcase %}


<div class="{{ classes }} relative" style="{{ css_styles }}">
		<div class="container relative">
	{% for component in content.blocks %}
		{% bookshop "{{component._bookshop_name}}" bind: component %}
	{% endfor %}
	</div>
</div>