{% assign classes = "" %}
{% assign styles = "" %}

{% case background %}
	{% when 'caramel' %}
		{% assign classes = classes | append: " bg-caramel" %}
	{% when 'sky' %}
		{% assign classes = classes | append: " bg-sky" %}
	{% when 'cc-blue' %}
		{% assign classes = classes | append: " bg-cc text-white" %}
	{% when 'ash' %}
		{% assign classes = classes | append: " bg-ash" %}
	{% when 'night' %}
		{% assign classes = classes | append: " bg-night text-white" %}
	{% when 'sun-spot' %}
		{% assign classes = classes | append: " sun-spot" %}
	{% else %}
		{% assign classes = classes | append: " bg-white" %}
{% endcase %}

{% case rounded %}
	{% when 'top' %}
		{% assign classes = classes | append: " rounded-t-[40px] -mt-[40px]" %}
	{% when 'full' %}
		{% assign classes = classes | append: " rounded-[20px]" %}
{% endcase %}

{% if margin %}
	{% if margin.top %}
		{% assign styles = styles | append: " " | append: "margin-top:" | append: margin.top | append: "px;" %}
	{% endif %}

	{% if margin.left %}
		{% assign styles = styles | append: " " | append: "margin-left:" | append: margin.left | append: "px;" %}
	{% endif %}

	{% if margin.bottom %}
		{% assign styles = styles | append: " " | append: "margin-bottom:" | append: margin.bottom | append: "px;" %}
	{% endif %}

	{% if margin.right %}
		{% assign styles = styles | append: " " | append: "margin-right:" | append: margin.right | append: "px;" %}
	{% endif %}
{% endif %}

{% case size %}
{% when 'small' %}
	{% assign classes = classes | append: " w-[800px] mx-auto" %}
{% endcase %}


<div class="{{ classes }} relative" style="{{ styles }}">
		<div class="container relative">
	{% for component in blocks %}
		{% bookshop "{{component._bookshop_name}}" bind: component %}
	{% endfor %}
	</div>
</div>