{% case icon_color %}
{% when 'green-dark' %}
	{% assign foreground = '#55b54a' %}
	{% assign background = '#3b5a40' %}
{% when 'purple-dark' %} 
	{% assign foreground = '#bc3de1' %}
	{% assign background = '#583267' %}
{% when 'purple' %}
	{% assign foreground = '#5742db' %}
	{% assign background = '#e6e2f9' %}
{% when 'orange' %}
	{% assign foreground = '#f6efdd' %}
	{% assign background = '#c39837' %}
{% when 'green' %}
	{% assign foreground = '#449170' %}
	{% assign background = '#dfeee9' %}
{% when 'red' %}
	{% assign foreground = '#d65476' %}
	{% assign background = '#f7e4ea' %}
{% when 'teal' %}
	{% assign foreground = '#49a0b4' %}
	{% assign background = '#d5ebf0' %}
{% else %}
	{% assign foreground = '#ffffff' %}
	{% assign background = '#5480d7' %}
{% endcase %}

<div class="w-14 h-14 bg-[{{ foreground }}] p-3 rounded-2xl">
	{% if icon_path contains 'solid' %}
		{% assign svg_style = 'fill-[{{ background }}]' %}
	{% else %}
		{% assign svg_style = 'stroke-[{{ background }}]' %}
	{% endif %}
	{{ '/src/images/icons/' | append: icon_path | svgContents: svg_style }}
</div>