---
title: Blog
layout: page.html
permalink: >-
  /blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{%
  endif %}/index.html
description: >-
  Learn more about building static websites & Jamstack technologies with
  CloudCannon's Blog.
seo:
  featured_image: https://cc-dam.imgix.net/Blog-OG.png
  featured_image_alt: CloudCannon Blog
pagination:
  data: collections.posts
  size: 22
  alias: posts
  reverse: true
---
{% include 'partials/blog/list.html' posts:posts pagination:pagination header:true %}