---
title: Templates for Static Site Generators
layout: builder.html
permalink: /templates/
filters:
  - framework
  - category
description: >-
  Explore our library of free CloudCannon-ready themes for your Jamstack project
  and deploy to your static site generator of choice.
seo:
  featured_image: https://cc-dam.imgix.net/SSG-Templates-OG.png
  featured_image_alt: Static site generator templates.
search_bucket: Resources
top_content:
  content_blocks:
    - _bookshop_name: sections/container
      content:
        blocks:
          - _bookshop_name: simple/heading
            content:
              text: Templates for Static Site Generators
            styles:
              size: h1
              width: normal
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: biggest
                margin:
                  top: 0
                  bottom: 60
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: true
                  text_size: normal
                margin:
                  active: true
                  top: 0
                  bottom: 15
          - _bookshop_name: simple/text-block
            content:
              text_markdown: >-
                Explore our library of free CloudCannon-ready themes for your
                Jamstack project. Once you’ve chosen your static site generator
                (SSG) you can deploy it to CloudCannon with a single click, and
                you’re all ready to start using our Visual Editor interface.
            styles:
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: biggest
                margin:
                  top: 0
                  bottom: 60
                block_alignment:
                  align_block: center
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: normal
                margin:
                  active: false
                  top: 0
                  bottom: 0
                block_alignment:
                  active: false
                  align_block: left
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: true
                  text_size: normal
                margin:
                  active: true
                  top: 0
                  bottom: 30
                block_alignment:
                  active: false
                  align_block: left
              width: large
          - _bookshop_name: simple/fold
      styles:
        background: white
        rounded: none
        size: normal
        align: none
        desktop:
          margin:
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            top: 90
            right: 0
            bottom: 80
            left: 0
        tablet:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
        mobile:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: true
            top: 30
            right: 0
            bottom: 0
            left: 0
bottom_content:
  content_blocks:
    - _bookshop_name: sections/container
      content:
        label: CTA
        blocks:
          - _bookshop_name: simple/heading
            content:
              text: Want to add CloudCannon editing to an existing static site?
            styles:
              element: h2
              width: tight
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: big
                margin:
                  top: 0
                  bottom: 30
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: true
                  text_size: normal
                margin:
                  active: true
                  top: 0
                  bottom: 30
          - _bookshop_name: simple/text-block
            content:
              text_markdown: Check out our documentation, or contact us with any questions.
            styles:
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: normal
                margin:
                  top: 0
                  bottom: 30
                block_alignment:
                  align_block: center
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: normal
                margin:
                  active: false
                  top: 0
                  bottom: 0
                block_alignment:
                  active: false
                  align_block: left
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: normal
                margin:
                  active: false
                  top: 0
                  bottom: 0
                block_alignment:
                  active: false
                  align_block: left
              width: medium
          - _bookshop_name: simple/button-holder
            content:
              button_blocks:
                - _bookshop_name: simple/button
                  content:
                    text: Documentation
                    link: /documentation/
                  styles:
                    style: white
                    size: big
                    extra_classes:
                - _bookshop_name: simple/button
                  content:
                    text: Contact us
                    link: /contact/
                  styles:
                    style: outline-white
                    size: big
                    extra_classes:
            styles:
              desktop:
                margin:
                  top: 16
                  bottom: 0
                justify:
                  align: center
              tablet:
                margin:
                  active: false
                  top: 0
                  bottom: 0
                justify:
                  active: false
                  align: center
              mobile:
                margin:
                  active: false
                  top: 0
                  bottom: 0
                justify:
                  active: false
                  align: center
      styles:
        background: cc-blue
        rounded: top
        desktop:
          margin:
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            top: 90
            right: 0
            bottom: 140
            left: 0
        tablet:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 90
            right: 0
            bottom: 90
            left: 0
        mobile:
          margin:
            active: true
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: true
            top: 90
            right: 0
            bottom: 90
            left: 0
        size: normal
        align: none
---
<div class="container">


  {% assign templates = collections.templates | sort: 'data.priority' %}

  {% include 'partials/filters/filter.html' filter_type: filters collection: templates %}


<div id="list-wrapper" class="grid md:grid-cols-2 gap-x-6 gap-y-14 mb-28 mt-5">
  {% for template in templates %}
    {% assign ssg_names = '' %}
    {% assign categories = '' %}
    
    {% for ssg in template.data.ssg_frameworks %}
        {% assign ssg_names = ssg_names | append: ' ' | append: ssg | downcase %}
    {% endfor %}
    
    {% for category in template.data.categories %}
        {% assign categories = categories | append: ' ' | append: category | downcase %}
    {% endfor %}

    <a id="list-item" href="{{ template.url }}" data-framework="{{ ssg_names | strip }}" data-category="{{ categories | strip }}" class="transition relative border-2 border-midnight rounded-xl block hover:scale-105 overflow-hidden">
        {% bookshop "helpers/image" image: template.data.image alt: template.data.title responsive: true classes: 'w-full' width: 594 height: 371 %}
        <div class="p-3">
            <div class="flex justify-between items-center">
               <div class="flex ">
                  {% for ssg in template.data.ssgs %}
                      <img src="/images/icons/ssgs/{{ ssg.ssg_name }}.svg" width="25" height="25" alt="{{ ssg.ssg_name }}" class="mr-[5px]" />
                  {% endfor %}
               </div>
                <div class="flex gap-x-1">
                  {% for cat in template.data.categories %}
                  <span class="text-cc border capitalize border-cc rounded-full px-2 py-1 text-xs font-medium">{{ cat }}</span>
                {% endfor %}
                </div>
            </div>
            
            <h3 class="text-xl font-bold mt-1">
                {{ template.data.name }}
            </h3>
            <p>{{ template.data.description }}</p>
        </div>
    </a>
  {% endfor %}
</div>
<div id="no-results" class="text-center mt-[3rem] mb-[5rem] md:mt-[8rem] md:mb-[10rem] text-xl font-bold hidden">
  <h2>No Results Found</h2>
</div>

</div>