---
title: Templates for Static Site Generators
layout: builder.html
permalink: /templates/
description: >-
  Explore our library of free CloudCannon-ready themes for your Jamstack project
  and deploy to your static site generator of choice.
seo:
  featured_image: https://cc-dam.imgix.net/SSG-Templates-OG.png
  featured_image_alt: Static site generator templates.
top_content:
  content_blocks:
    - _bookshop_name: sections/container
      content:
        blocks:
          - _bookshop_name: simple/heading
            content:
              text: Templates for Static Site Generators
            styles:
              size: h1
              width: normal
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: biggest
                margin:
                  top: 0
                  bottom: 60
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: true
                  text_size: normal
                margin:
                  active: true
                  top: 0
                  bottom: 15
          - _bookshop_name: simple/text-block
            content:
              text_markdown: >-
                Explore our library of free CloudCannon-ready themes for your
                Jamstack project. Once you’ve chosen your static site generator
                (SSG) you can deploy it to CloudCannon with a single click, and
                you’re all ready to start using our Visual Editor interface.
            styles:
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: biggest
                margin:
                  top: 0
                  bottom: 60
                block_alignment:
                  align_block: center
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: normal
                margin:
                  active: false
                  top: 0
                  bottom: 0
                block_alignment:
                  active: false
                  align_block: left
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: true
                  text_size: normal
                margin:
                  active: true
                  top: 0
                  bottom: 30
                block_alignment:
                  active: false
                  align_block: left
              width: large
          - _bookshop_name: simple/fold
      styles:
        background: white
        rounded: none
        size: normal
        align: none
        desktop:
          margin:
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            top: 90
            right: 0
            bottom: 80
            left: 0
        tablet:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
        mobile:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: true
            top: 30
            right: 0
            bottom: 0
            left: 0
bottom_content:
  content_blocks:
    - _bookshop_name: sections/container
      content:
        label: CTA
        blocks:
          - _bookshop_name: simple/heading
            content:
              text: Want to add CloudCannon editing to an existing static site?
            styles:
              element: h2
              width: tight
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: big
                margin:
                  top: 0
                  bottom: 30
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: big
                margin:
                  active: false
                  top: 0
                  bottom: 0
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: true
                  text_size: normal
                margin:
                  active: true
                  top: 0
                  bottom: 30
          - _bookshop_name: simple/text-block
            content:
              text_markdown: Check out our documentation, or contact us with any questions.
            styles:
              desktop:
                text_alignment:
                  align: center
                text_sizing:
                  text_size: normal
                margin:
                  top: 0
                  bottom: 30
                block_alignment:
                  align_block: center
              tablet:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: normal
                margin:
                  active: false
                  top: 0
                  bottom: 0
                block_alignment:
                  active: false
                  align_block: left
              mobile:
                text_alignment:
                  active: false
                  align: left
                text_sizing:
                  active: false
                  text_size: normal
                margin:
                  active: false
                  top: 0
                  bottom: 0
                block_alignment:
                  active: false
                  align_block: left
              width: medium
          - _bookshop_name: simple/button-holder
            content:
              button_blocks:
                - _bookshop_name: simple/button
                  content:
                    text: Documentation
                    link: /documentation/
                  styles:
                    style: white
                    size: big
                    extra_classes:
                - _bookshop_name: simple/button
                  content:
                    text: Contact us
                    link: /contact/
                  styles:
                    style: outline-white
                    size: big
                    extra_classes:
            styles:
              desktop:
                margin:
                  top: 16
                  bottom: 0
                justify:
                  align: center
              tablet:
                margin:
                  active: false
                  top: 0
                  bottom: 0
                justify:
                  active: false
                  align: center
              mobile:
                margin:
                  active: false
                  top: 0
                  bottom: 0
                justify:
                  active: false
                  align: center
      styles:
        background: cc-blue
        rounded: top
        desktop:
          margin:
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            top: 90
            right: 0
            bottom: 140
            left: 0
        tablet:
          margin:
            active: false
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: false
            top: 90
            right: 0
            bottom: 90
            left: 0
        mobile:
          margin:
            active: true
            top: 0
            right: 0
            bottom: 0
            left: 0
          padding:
            active: true
            top: 90
            right: 0
            bottom: 90
            left: 0
        size: normal
        align: none
---
<div class="container">

    
  <style>
    .custom-checkbox {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid #034AD8;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
    }

    input[type="checkbox"]:checked + .custom-checkbox {
        background-color: #034AD8;
        border-color: #034AD8;
    }

    input[type="checkbox"]:checked + .custom-checkbox::after {
        content: '\2713';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 16px;
    }
</style>

      

  

  {% assign templates = collections.templates | sort: 'data.priority' %}

  {% assign uniqueSSGNames = templates | getUniqueSSGs %}


<div x-data="filterComponent()"
     class="mb-8 relative">
    <!-- Dropdown -->
    <div class="flex gap-x-6">
    
          <button @click.prevent="show = !show" class="relative z-10 border-2 border-stone-300/20 rounded-lg px-4 py-3 bg-white w-[200px] flex justify-between items-center" :class="{ 'bg-blue-50': show}">
              <span class="inline-block">Filter by SSGs</span>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current inline-block w-3 h-3 text-black transform transition duration-150" :class="{ 'rotate-90': show }">
                <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd"/>
              </svg>
              
              
          </button>
          <!-- clear filters button -->
          <button x-show="selectedOptions.length > 0" @click="removeAllOptions()" class="inline-block text-cc font-bold">Clear filters</button>
    </div>
    <!-- filters dropdown list -->
    <div x-show.transition="show" class="absolute z-20 mt-2 flex w-[200px] shadow-menu rounded-lg flex-col px-4 py-4 gap-y-4 whitespace-nowrap bg-white ">
      {% for ssg in uniqueSSGNames %}
          <div class="flex items-center">
              <input type="checkbox" id="checkbox_{{ ssg }}" name="type[]" value="{{ ssg }}" class="hidden" @change="toggleOption($event.target.value, $event.target.checked)"></input>
              <label for="checkbox_{{ ssg }}" class="custom-checkbox inline-block mr-2"></label>
              <img src="/images/icons/ssgs/{{ ssg }}.svg" width="16" height="16" alt="{{ ssg.ssg_name }}" class="mr-[4px] inline-block" />
              <span>{{ ssg | capitalize | strip }}</span>
          </div>
      {% endfor %}
  </div>

    
    <!-- Selected Options -->


    <div class="mt-4 flex gap-x-6" x-show="selectedOptions.length > 0">
      <template x-for="(option, index) in selectedOptions" :key="index">
          <span class="border-2 border-comet rounded-[24px] relative flex items-center justify-between gap-x-[14px] py-3 px-[22px] leading-none">
              <span class="capitalize font-medium m-0 text-carbon" x-text="option"></span>
              <button @click="removeOption(option, index)" class="m-0" >
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L11 11M11 1L1 11" stroke="#393939" stroke-width="2"/>
                  </svg>
              </button>
          </span>
      </template>
  </div>
  
</div>

<div id="template-list" class="grid md:grid-cols-2 gap-x-6 gap-y-14 mb-28 mt-5">
  {% for template in templates %}
    {% assign ssg_names = '' %}
    {% for ssg in template.data.ssgs %}
        {% assign ssg_names = ssg_names | append: ' ' | append: ssg.ssg_name %}
    {% endfor %}
    <a href="{{ template.url }}" data-ssg="{{ ssg_names }}" class="transition relative border-2 border-midnight rounded-xl block hover:scale-105 overflow-hidden">
        {% bookshop "helpers/image" image: template.data.image alt: template.data.title responsive: true classes: 'w-full' width: 594 height: 371 %}
        <div class="p-3">
            <div class="flex my-1">
                {% for ssg in template.data.ssgs %}
                    <img src="/images/icons/ssgs/{{ ssg.ssg_name }}.svg" width="25" height="25" alt="{{ ssg.ssg_name }}" class="mr-[5px]" />
                {% endfor %}
            </div>
            <h3 class="text-xl font-bold mt-1">
                {{ template.data.name }}
            </h3>
            <p>{{ template.data.description }}</p>
        </div>
    </a>
{% endfor %}
</div>

<script>
  function filterComponent() {
    const handleCheckboxes = (option, callback) => {
        const selector = option ? `input[type="checkbox"][value="${option}"]` : 'input[type="checkbox"]';
        document.querySelectorAll(selector).forEach(callback);
    };

    const updateDisplay = (templateList, selectedOptionsSet) => {
        templateList.forEach(template => {
            const ssgData = new Set(template.getAttribute('data-ssg').trim().split(' '));
            const isMatch = [...selectedOptionsSet].some(opt => ssgData.has(opt));
            template.style.display = isMatch || !selectedOptionsSet.size ? 'block' : 'none';
        });
    };

    return {
        show: false,
        selectedOptionsSet: new Set(),
        get selectedOptions() {
            return Array.from(this.selectedOptionsSet);
        },
        toggleOption(option, isChecked) {
            if (isChecked) {
                this.selectedOptionsSet.add(option);
            } else {
                this.selectedOptionsSet.delete(option);
            }
            this.filterTemplates();
        },
        removeOption(option) {
            handleCheckboxes(option, input => {
                input.checked = false;
            });
            this.selectedOptionsSet.delete(option);
            this.filterTemplates();
        },
        removeAllOptions() {
            handleCheckboxes(null, input => {
                input.checked = false;
            });
            this.selectedOptionsSet.clear();
            this.filterTemplates();
        },
        filterTemplates() {
            const templateList = document.querySelectorAll('#template-list a');
            updateDisplay(templateList, this.selectedOptionsSet);
        }
    };
}




</script>


</div>