---
title: Templates
layout: builder.html
permalink: /templates/
description: >-
  Explore our library of free CloudCannon-ready themes for your Jamstack project
  and deploy to your static site generator of choice.
seo:
  featured_image: https://cc-dam.imgix.net/SSG-Templates-OG.png
  featured_image_alt: Static site generator templates.
content_blocks:
  - _bookshop_name: sections/container
    content:
      blocks:
        - _bookshop_name: simple/heading
          content:
            text: Themes for Static Site Generators
          styles:
            size: h1
            width: normal
            desktop:
              text_alignment:
                align: center
              text_sizing:
                text_size: biggest
              margin:
                top: 0
                bottom: 60
            tablet:
              text_alignment:
                active: false
                align: left
              text_sizing:
                active: false
                text_size: big
              margin:
                active: false
                top: 0
                bottom: 0
            mobile:
              text_alignment:
                active: false
                align: left
              text_sizing:
                active: false
                text_size: big
              margin:
                active: false
                top: 0
                bottom: 0
        - _bookshop_name: simple/text-block
          content:
            text_markdown: >-
              Explore our library of free CloudCannon-ready themes for your
              Jamstack project. Once you’ve chosen your static site generator
              (SSG) you can deploy it to CloudCannon with a single click, and
              you’re all ready to start using our Visual Editor interface.
          styles:
            desktop:
              text_alignment:
                align: center
              text_sizing:
                text_size: biggest
              margin:
                top: 0
                bottom: 60
              block_alignment:
                align_block: center
            tablet:
              text_alignment:
                active: false
                align: left
              text_sizing:
                active: false
                text_size: normal
              margin:
                active: false
                top: 0
                bottom: 0
              block_alignment:
                active: false
                align_block: left
            mobile:
              text_alignment:
                active: false
                align: left
              text_sizing:
                active: false
                text_size: normal
              margin:
                active: false
                top: 0
                bottom: 0
              block_alignment:
                active: false
                align_block: left
            width: medium
    styles:
      background: white
      rounded: none
      size: normal
      align: none
      desktop:
        margin:
          top: 0
          right: 0
          bottom: 0
          left: 0
        padding:
          top: 90
          right: 0
          bottom: 80
          left: 0
      tablet:
        margin:
          active: false
          top: 0
          right: 0
          bottom: 0
          left: 0
        padding:
          active: false
          top: 0
          right: 0
          bottom: 0
          left: 0
      mobile:
        margin:
          active: false
          top: 0
          right: 0
          bottom: 0
          left: 0
        padding:
          active: false
          top: 0
          right: 0
          bottom: 0
          left: 0
---
<div class="container">

  {% assign themes = collections.themes | sort: 'data.priority' %}

  <div class="grid md:grid-cols-2 gap-x-6 gap-y-14 mb-28 mt-5">
    
    {% for theme in themes %}
      <a href="{{ theme.url }}" class="transition relative border border-midnight rounded-xl block hover:scale-105">
        {% bookshop "helpers/image" image: theme.data.image alt: theme.data.title responsive: true classes: 'w-full rounded-t-xl' width: 594 height: 371 %}
        <div class="p-3">
          <div class="flex my-1">
            {% for ssg in theme.data.themes_ssgs %}
              <img src="/images/icons/ssgs/{{ ssg.ssg_name }}.svg" width="25" height="25" alt="{{ ssg.ssg_name }}" class="mr-[5px]" />
            {% endfor %}
          </div>
          <h3 class="text-xl font-bold mt-1">
            {{ theme.data.name }}
          </h3>
          <p>{{ theme.data.description }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>