<div class="macbook">
	<div class="screen">
		<div class="viewport">
			{% bookshop 'helpers/image' image: image alt: alt responsive: true width: 630 height: 395 %}
		</div>
	</div>
	<div class="base"></div>
	<div class="notch"></div>
</div>