<div class="c-sections-template-eyebrow mb-2.5">
    <h3 class="text-lg text-carbon_800 font-bold">
    {% if starter == "true" %}
        Starter templates
    {% else %}
        Fully fledged templates
    {% endif %}
    </h3>
</div>