{% assign text_size = "xl" %}
{% assign css_styles = " " %}

{% case styles.size %}
{% when 'big' %}
	{% assign text_size = "2xl" %}
{% endcase %}

{% if styles.margin %}
	{% if styles.margin.top %}
		{% assign css_styles = css_styles | append: " " | append: "margin-top:" | append: styles.margin.top | append: "px;" %}
	{% endif %}

	{% if styles.margin.bottom %}
		{% assign css_styles = css_styles | append: " " | append: "margin-bottom:" | append: styles.margin.bottom | append: "px;" %}
	{% endif %}
{% endif %}

<div class="text-{{ text_size }} max-w-screen-md mx-auto leading-relaxed text-gray-700 font-medium text-center" style="{{ css_styles }}">
	{{ content.text | markdownify }}
</div>